<%= form_with(model: note, local: true) do |f| %>

<div class="form-group">
    <%= f.label :title%>
    <%= f.text_field :title, class: 'form-control t_bg'%>
</div>
<div class="form-group">
    <%= f.label :note%>
    <%= f.text_area :note, class: 'form-control', size: "30x5"%>
</div>
<%= f.submit 'Save Note', class: 'btn btn-success hvr-glow'%>

<% end %>